/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

.TamañoImg{
    width: 140px;
    height: 200px;
}
